/* NewDayUSA.com Mobile Styling */
/* Why subtract .02px? Browsers don’t currently support range context queries, so we work around the limitations of min- and max- prefixes and viewports with fractional widths (which can occur under certain conditions on high-dpi devices, for instance) by using values with higher precision. */
.Navigation {
    font-weight: bold;
}

.Navigation nav > ul > li:nth-child(1) {
    display: none;
}

.Desktop-Navigation {
    font-size: 1rem;
}

.Mobile-Menu, .Mobile-Logo {
    display: none;
}

.Mobile-Hero-Container_Home {
    display: none;
}

.Mobile-Hero-Container_Cash_Out {
    display: none;
}

.Mobile-Feature-Container {
    display: none;
}

.Mobile-Spacer {
    display: none;
}

.Mobile-CTA-Container {
    display: none;
}

.Mobile-Review-Container {
    display: none;
}

.Mobile-Trustpilot-Carousel {
    border-radius: 6px !important;
}

.Mobile-Bio-Title {
    display: none !important;
}

.Mobile-Bio-Name {
    display: none !important;
}

.Mobile-Bio-Tabs {
    display: none;
}

.Mobile-Title-Container {
    display: none;
}

.Mobile-Share-Button {
    display: none;
}

.Mobile-Bio-Container {
    display: none;
}

.Frame > div {
    background-color: transparent !important;
}

.Bulleted-List ul {
    list-style: disc;
    padding: 0 20px;
    line-height: 1.33 !important;
}

.Mobile-CashOut-Calc-Container {
    display: none;
}

.Mobile-FAQ-Container {
    display: none;
}

.Mobile-Hero-Container_Refi {
        display: none;
    }

.Mini-Navigation a {
    color: #0378d5 !important;
    text-decoration: underline !important;
}

.Mini-Navigation > div {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.Mini-Navigation > div > div {
    grid-template-columns: repeat(3, auto) !important;
}

.Mini-Navigation > div > div > div:nth-child(1)::after {
    content: "|";
    color: #e0e0e0;
    padding: 0 0.38889rem;
}

/* START MOBILE NAV */
.mobileNav {
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 30%);
    overflow: visible !important;
    background-color: white !important;
    position: absolute !important;
    width: 100% !important;
}
.mobileNav nav {
    overflow: visible !important;
    padding-top: 80px !important;
    z-index: unset !important;
}
.mobileNav nav.expanded ul {
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
}

.mobileNav nav.expanded li {
    padding: 13px 20px !important;
    background-color: var(--lightGray) !important;
    border-bottom: 2px solid white !important;
    font-size: 18px !important;
    font-weight: bold !important;
}
.mobileNav li .nav-link {
    flex-direction: row !important;
}
.mobileNav li .nav-link.active {
    border-right: none !important;
}
.mobileNav nav .toggle-button {
    right: 25px !important;
    top: 20px !important;
    font-size: 2em !important;
}
.mobileNav nav.expanded .toggle-button {
    top: 18px !important;
    right: 25px !important;
}
.logo-wrapper {
    z-index: 99999 !important;
}
.mobileNav nav ul {
    display: none !important;
}
.mobileNav nav.expanded {
    z-index: 1998 !important;
}
    
/* END MOBILE NAV */
/* START GET STARTED WIZARD */
.Get-Started-Wizard .radio-wrapper {
    flex-direction: row !important;
    display: grid !important;
    grid-auto-flow: column;
    grid-auto-columns: 212px;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.Get-Started-Wizard .radio-wrapper .custom-control {
    height: 75px;
    padding: 0;
    margin: 0 !important;
    display: table;
    border-radius: 100px;
}

.Get-Started-Wizard .indicator-container {
    display: none !important;
}

.Get-Started-Wizard .label-container {
    justify-content: center;
}

.Get-Started-Wizard .radio-wrapper .custom-control .custom-control-label {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "GT Walsheim Pro Bold";
    color: #101010;
    display: table-cell;
    vertical-align: middle;
    border-radius: 100px;
}

.Get-Started-Wizard input[type="radio"]:hover + label {
    border: 3px solid #0378d5 !important;
}

.Get-Started-Wizard input[type="radio"] + label {
    border: 3px solid #ccc !important;
    box-shadow: 1px 4px 5px 0 rgb(0 0 0 / 10%);
}

.Get-Started-Wizard input[type="radio"]:checked + label {
    border: 5px solid #0378d5 !important;
    border-radius: 100px;
    box-shadow: none !important;
}

.Get-Started-Wizard .radio-wrapper .custom-control .custom-control-label::before,
.Get-Started-Wizard .radio-wrapper .custom-control .custom-control-label::after{
    display: none;
}

.Get-Started-Wizard .radio-wrapper .custom-control-input:checked~.custom-control-label:before {
    display: block;
    content: '';
    border: 3px solid #00b1ff;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 16%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: -22px !important;
    left: 50%;
    margin-left: -20px !important;
    background-color: #ffffff;
    background-image: url('https://newday.polystack.run/api/datasource/app:avzYIaihyDjXaRt3rT3xS:dataSources:67d3af54-8cd4-4790-943d-f6619c9cfb6c/file/assets/icon-check-with-shadow.png');
    background-position: 2px 2px;
    background-size: 36px 36px;
}

.Get-Started-Wizard .radio-wrapper .custom-control .custom-control-input {
    height: 100%;
    width: 100%;
}

.Get-Started-Wizard .input-wrapper {
    align-items: center !important;
}

.Get-Started-Wizard .input-wrapper .field-label label {
    font-size: 40px;
    color: #101010;
    line-height: 48px;
    font-family: "GT Walsheim Pro Bold";
    text-transform: none !important;
    opacity: 1 !important;
    margin: 0.75em auto 0.5em !important;
}

.Get-Started-Wizard .action-buttons {
    flex-direction: column-reverse;
    font-family: "GT Walsheim Pro Bold" !important;
}

.Get-Started-Wizard .action-buttons > div {
    width: 10rem !important;
    margin: 0 auto !important;
}

.Get-Started-Wizard .card-body > div > div:nth-child(1) {
    grid-column: 1 / span 2;
}
/* END GET STARTED WIZARD */

/* No media query necessary for xs breakpoint as it's effectively @media (min-width: 0) */

/* X-Small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
    .Feature-Image {
        min-height: 213px !important;
        max-height: 213px !important;
    }
    
    .newsTabs li.nav-item {
        font-size: .77778rem !important;
    }
    
    .Mobile-Bio-Container {
    display: grid !important;
}
    .Desktop-Bio-Container {
        display: none !important;
    }

}

/* Small devices (landscape phones, less than 768px)  */
@media (max-width: 767.98px) {
    .Desktop-Bio-Tabs {
        display: none !important;
    }
    .Mobile-Bio-Tabs {
        display: grid !important;
    }
    .Mini-Menu {
        display: none !important;
    }
    .Mini-Navigation {
        display: none !important;
    }
}

/* Medium devices (tablets, less than 992px)  */
@media (max-width: 991.98px) {
    .Desktop-Only {
        display: none !important;
    }
    .topBar {
        display: none !important;
    }
    
    .Desktop-Navigation {
        display: none !important;
    }
    
    .Mobile-Menu, .Mobile-Logo {
        display: grid !important;
    }
    
    .Desktop-Hero-Container_Home {
        display: none !important;
    }
    
    .Desktop-Hero-Container_Cash_Out {
        display: none !important;
    }
    
    .Mobile-Hero-Container_Cash_Out {
        display: grid !important;
    }
    
    .Mobile-Hero-Container_Home {
        display: grid !important;
    }
    
    .Desktop-Feature-Container {
        display: none !important;
    }
    
    .Mobile-Feature-Container {
        display: grid !important;
    }
    
    .Mobile-Spacer {
        display: grid !important;
    }
    
    .Desktop-Spacer {
        display: none !important;
    }
    
    .Desktop-Review-Container {
        display: none !important;
    }
    
    .Mobile-Review-Container {
        display: grid !important;
    }
    
    .Mobile-CTA-Container {
        display: grid !important;
        position: fixed !important;
        bottom: 0 !important;
        z-index: 99999999999999 !important;
        width: 100% !important;
        height: 60px !important;
        box-shadow: 0 0 40px 0 rgb(0 0 0 / 30%) !important;
    }
    
    .CTA-Button {
        bottom: 10px !important;
    }
    
    .Desktop-Footer-Container {
        display: none !important;
    }
        
    .Desktop-Socket-Container {
        display: none !important;
    }
    
    .Mobile-TItle-Container {
        display: grid !important;
    }
    .title .label-container {
        font-size: 1.77778rem !important;
    }
    .Desktop-Title-Container {
        display: none !important;
    }
    
    .Desktop-Bio-Title {
        display: none !important;
    }

    .Desktop-Bio-Name {
        display: none !important;
    }
    
    .Mobile-Bio-Title {
        display: grid !important;
    }

    .Mobile-Bio-Name {
     display: grid !important;
    }
    
    .Mobile-Share-Button {
        display: grid !important;
    }
    
    .Desktop-Share-Button {
        display: none !important;
    } 
    
    .Mobile-CashOut-Calc-Container {
        display: grid !important;
    }
    
    .Desktop-CashOut-Calc-Container {
        display: none !important;
    }
    
    .Mobile-FAQ-Container {
        display: grid !important;
    }
    
    .Desktop-FAQ-Container {
        display: none !important;
    }
    
    .Desktop-Hero-Container_Refi {
        display: none !important;
    }
    
    .Mobile-Hero-Container_Refi {
        display: grid !important;
    }

}

/* Large devices (desktops, less than 1200px)  */
@media (max-width: 1199.98px) {
    .Desktop-Navigation {
    font-size: .8rem;
}
    .topBar .label-container {
        font-size: .8rem !important;
    }

}

/* X-Large devices (large desktops, less than 1400px)  */
@media (max-width: 1399.98px) {

}

/* XX-Large devices (larger desktops) - No media query since the xxl breakpoint has no upper bound on its width  */
